asgiref==3.8.1
Django==5.0.4
django-cors-headers==4.3.1
django-rest-passwordreset==1.4.1
django-simple-history==3.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
itsdangerous==2.2.0
mysqlclient==2.2.4
PyJWT==2.8.0
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
